:root {
  --background-color-1: #202225;
  --background-color-2: #010101;
  --primary-color: #cb9bd5;
  --secondary-color: #938f9e;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}
body {
  background-color: var(--background-color-2);
  font-family: var(--secondary-font);
}
hr {
  border-top: solid 2px var(--primary-color);
}
.navbar a {
  color: var(--secondary-color);
}
.navbar a:hover {
  color: #ffff;
}
.navbar-nav .active {
  color: #ffff !important;
}
h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 80px;
}
h2 {
  color: var(--secondary-color);
  line-height: 1.5;
  font-size: 22px;
}
h3 {
  color: var(--secondary-color);
  font-size: 34px;
}
.hero {
  background-color: var(--background-color-1);
  padding: 80px 110px;
}
.main-image {
  display: block;
  margin: 0 auto;
}
.button-pink {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--background-color-1);
  font-size: 18px;
  padding: 15px 30px;
  transition: all 400ms ease-in-out;
}
.button-pink:hover {
  background-color: var(--background-color-1);
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.projects-overview {
  padding: 50px 110px;
}
.title {
  color: var(--primary-color);
  font-size: 50px;
  font-family: var(--primary-font);
}
.content_img {
  position: relative;
}
.content_img .img-description {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  text-decoration: none;
  margin-bottom: 50px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover .img-description {
  width: 100%;
  text-align: center;
  padding: 15px 15px;
  visibility: visible;
  opacity: 0.7;
}
.button-long {
  background-color: var(--background-color-2);
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-size: 18px;
  padding: 15px 30px;
  transition: all 400ms ease-in-out;
  width: 31%;
}
.button-long:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--background-color-2);
}

/* About section*/
.about-section {
  padding: 80px 130px;
}
.paulina-photo {
  filter: grayscale(100%) contrast(122%);
}
.about,
p {
  color: #ffff;
  line-height: 2;
}
.skill-section {
  background-color: var(--background-color-1);
  padding: 80px 250px;
}
.skill-icon {
  color: var(--primary-color);
  font-size: 50px;
  margin: 0;
  transition: all 200ms ease-in-out;
}
.skill-level {
  transition: all 200ms ease-in-out;
  visibility: hidden;
}
.skill-icon:hover + .skill-level {
  visibility: visible;
}
.html5:hover {
  color: #ff5722;
}
.css3:hover {
  color: #0070ba;
}
.js:hover {
  color: #da9b27;
}
.bootstrap:hover {
  color: #523a76;
}
.python:hover {
  color: #4784b4;
}
.react:hover {
  color: #55cff0;
}
.story-section {
  padding: 100px 130px;
}
.title-small {
  font-size: 25px;
  color: var(--primary-color);
  font-weight: bold;
}
.timeline {
  font-size: 20px;
}
.hobby-section {
  background-color: var(--background-color-1);
  padding: 80px 80px;
}
.hobbies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hobby {
  background-color: var(--background-color-2);
  text-align: center;
  padding: 30px;
  width: 150px;
  height: 150px;
  border-radius: 4px;
}
.hobby p {
  font-size: 14px;
  line-height: 1.5;
}

.hobby-icon {
  color: var(--secondary-color);
  font-size: 35px;
}
/*Portfolio section*/
.portfolio-section {
  padding: 100px;
}
.border-portfolio {
  border-color: var(--primary-color);
}
.photo {
  width: 400px;
  overflow: hidden;
  border-radius: 4px;
}
.photo:hover .portfolio-img {
  transform: scale(1.1);
}
.portfolio-img {
  display: block;
  margin: 0 auto;
  transition: transform 300ms;
  max-width: 400px;
}
.button-portfolio {
  background-color: var(--background-color-2);
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  padding: 15px 30px;
  transition: all 400ms ease-in-out;
}
.button-portfolio:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--background-color-2);
}
.language {
  font-size: 20px;
}
.fa-spinner {
  font-size: 50px;
  color: var(--secondary-color);
}

/* Contact section*/
.contact-section {
  background-color: var(--background-color-1);
  padding: 100px 100px;
}
.i-contact {
  color: var(--primary-color);
  font-size: 20px;
  padding: 7px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.i-contact:hover {
  border: solid 1px var(--primary-color);
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contacts a {
  text-decoration: none;
  color: #ffff;
  margin-bottom: 10px;
}
.contacts a:hover {
  color: var(--secondary-color);
}
/* footer */
footer {
  margin: 60px 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--background-color-2);
  background: var(--primary-color);
  padding: 7px 11px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background: var(--background-color-2);
}
@media (max-width: 576px) {
  body {
    text-align: center;
  }
  .hero {
    padding: 100px 0;
    padding-bottom: 50px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  .main-image {
    display: none;
  }
  .projects-overview {
    padding: 50px 0;
  }
  .title {
    font-size: 28px;
    margin-bottom: 20px !important;
  }
  .content_img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .button-long {
    width: 250px;
  }
  /*about section*/
  .about-section {
    padding: 50px 40px;
  }
  .paulina-photo {
    width: 200px;
    padding-bottom: 10px;
  }
  .skill-section {
    padding: 50px 40px 20px 40px;
  }
  .skill-icon {
    font-size: 40px;
  }
  .story-section {
    padding: 50px 40px;
    text-align: left;
  }
  .title-small {
    font-size: 20px;
  }
  .timeline {
    font-size: 18px;
  }
  .hobby-section {
    padding: 40px;
  }
  .hobbies {
    flex-wrap: wrap;
  }
  .hobby {
    margin-bottom: 20px;
    padding-top: 20px;
    width: 120px;
    height: 120px;
  }
  .hobby p {
    font-size: 10px;
  }
  .hobby-icon {
    font-size: 25px;
  }
  .cat-smile {
    width: 35px;
  }
  /*portfolio section*/
  .portfolio-section {
    padding: 80px 30px;
  }
  .photo {
    width: 300px;
  }
  .portfolio-img {
    width: 300px;
  }
  .button-portfolio {
    font-size: 13px;
    margin-bottom: 20px;
  }
  /*contact section*/
  .contact-section {
    padding: 80px 30px;
  }
  .contacts {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 20px;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 30px;
  }
  .hero {
    padding: 100px 0;
  }
  .title {
    font-size: 40px;
  }
  /*about section*/
  .about-section {
    padding: 70px 20px;
  }
  .paulina-photo {
    width: 300px;
    padding-bottom: 10px;
  }
  .skill-section {
    padding: 50px 40px 20px 40px;
  }
  .story-section {
    padding: 50px 50px;
  }
  .hobby-section {
    padding: 50px;
  }
  .hobbies {
    flex-wrap: wrap;
  }
  .hobby {
    margin-bottom: 20px;
    padding-top: 20px;
    width: 150px;
    height: 150px;
  }
  /*portfolio section*/
  .portfolio-section {
    padding: 80px 30px;
  }
  .photo {
    width: 300px;
  }
  .portfolio-img {
    width: 300px;
  }
  .button-portfolio {
    font-size: 12px;
    margin-bottom: 20px;
    padding: 10px 25px;
  }

  /*contact section*/
  .contact-section {
    padding: 80px 20px;
  }
}
